<% if message.content.present? %>
  <div class="message <%= message.agent? ? 'bot' : 'user' %>">
    <%= markdown(message.content) %>
  </div>
<% else %>
  <span class="typing-loader"></span>
<% end %>