<h1>Chats</h1>
<%= form_with url: chats_path, method: :post, local: false do |form| %>
  <%= form.submit "Start New Chat", class: "btn btn-primary" %>
<% end %>

<ul>
  <% @chats.each do |chat| %>
    <li><%= link_to "Chat ##{chat.id}", chat_path(chat) %></li>
  <% end %>
</ul>